@font-face {
    font-family: 'Segoe';
    src: url(fonts/SegoeWPN.ttf);
}

body {
    margin: 0;
    font-family: 'Segoe';
}

.max-width {
    max-width: 1250px;
    margin: 0 auto;
}

header {
    background-color: white;
}

.wrap {
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 142px;
    background-repeat: no-repeat;
}

.logo__text {
    font-weight: lighter;
    color: #000000;
    font-size: 43px;
    margin: 0 0 0 16px;
}

.menu__nav {
    display: flex;
    font-weight: normal;
    font-size: 20px;
    color: black;
    margin-right: 115px;
    height: 100%;
}

.nav__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.nav__tab:not(:first-child) {
    margin-left: 40px;
}

.nav__tab:hover {
    border-bottom: 3px solid #5094f2;
}

.banner {
    display: flex;
    align-items: center;
    background-image: url(../assets/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 485px;
    position: relative;
}

.banner img {
    margin-left: 170px;
}

.banner__description {
    margin: 150px;
}

.banner__description h1{
    color: white;
    font-size: 42px;
    font-weight: normal;
}


.banner__description p {
    max-width: 260px;
    color: white;
    font-size: 26px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5094f2;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 172px;
    margin-left: 15px;
    padding: 9px;
}

.btn:hover {
    background-color: #446cbe;
    border: none;

}
.btn__text {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    font-style: normal;
}
.btn__icon {
    padding: 3px;
    width: 23px;
    height: 23px;
}

.btn__icon:before {
    content: url("../assets/icons/done-icon.svg");
}

.banner__arrows {
    position: absolute;
    width: calc(100% - 180px);
    display: flex;
    justify-content: space-between;
    margin: auto;
    left: 0;
    right: 0;
}
.arrow {
    background-image: url("../assets/icons/arrow.png");
    width: 25px;
    height: 63px;
}

.arrow_right {
    transform: rotate(180deg);
}


.wrap2 {
    display: flex;
    margin: 56px auto;
    position: relative;
    width: calc(100% - 280px);
    justify-content: space-between;

}

.wrap2 h2 {
    color: #5094f2;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.wrap2 p {
    margin-top: auto;
    font-size: 15px;
    color: #909090;
    width: 250px;
    font-weight: normal;
    text-align: center;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.wrap3 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 3em;
}

.column1 {
    padding-left: 155px;
}

.column1 h1 {
    font-weight: normal;
    font-size: 42px;
    color: #6f7173;
}

.column2 {
    padding-right: 185px;
}

.column2 h3 {
    font-weight: normal;
    font-size: 26px;
    color: #909090;
}

.column2 p {
    width: 450px;
    color: #909090;
    font-size: 15px;
    line-height: 36px;
}

.footer__border {
    border-top: 1px solid lightgray;
}

footer p {
    margin-top: 2.3em;
    font-size: 15px;
    color: #909090;
    text-align: center;

}