@font-face {
    font-family: 'Segoe';
    src: url(fonts/SegoeWPN.ttf);
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: 'Segoe';
}

.max-width {
    max-width: 1250px;
    margin: 0 auto;
}

header {
    background-color: white;
}

.wrap {
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 5vw;
    background-repeat: no-repeat;
}

.logo__text {
    font-weight: lighter;
    color: #000000;
    font-size: 43px;
    margin: 0 0 0 16px;
}

.menu__nav {
    display: flex;
    font-weight: normal;
    font-size: 20px;
    color: black;
    margin-right: 5vw;
    height: 100%;
}

.nav__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.nav__tab:not(:first-child) {
    margin-left: 40px;
}

.nav__tab:hover {
    border-bottom: 3px solid #5094f2;
}

.menu_hamburger{
    display: none;
    background-image: url("../assets/icons/menu_hamburger.png");
    width: 56px;
    height: 42px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 485px;
    position: relative;
}


.banner__description {
    margin-left: 5vw;
}

.banner__description h1{
    color: white;
    font-size: 42px;
    font-weight: normal;
    margin: 0;
}


.banner__description p {
    max-width: 260px;
    color: white;
    font-size: 26px;
    margin: 0;
    line-height: 44px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5094f2;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 172px;
    margin: 42px 0 0;
    padding: 9px;
}

.btn:hover {
    background-color: #446cbe;
    border: none;

}
.btn__text {
    color: white;
    font-size: 22px;
    font-weight: lighter;
    font-style: normal;
}
.btn__icon {
    padding: 3px;
    width: 23px;
    height: 23px;
}

.btn__icon:before {
    content: url("../assets/icons/done-icon.svg");
}

.banner__arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
    left: 0;
    right: 0;
}
.arrow {
    background-image: url("../assets/icons/arrow.png");
    width: 25px;
    height: 63px;
}

.arrow_right {
    transform: rotate(180deg);
}


.wrap2 {
    display: flex;
    margin: 56px auto;
    position: relative;
    justify-content: space-around;

}

.wrap2 h2 {
    color: #5094f2;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.wrap2 p {
    margin-top: auto;
    font-size: 15px;
    color: #909090;
    max-width: 250px;
    font-weight: normal;
}

.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantage_description {
    text-align: center;
}


.wrap3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0 3vw 3vw;
}

.column1 h1 {
    font-weight: normal;
    font-size: 42px;
    color: #6f7173;
    text-align: center;
}

.column2 {
    margin-left: 5rem;
}

.column2 h3 {
    font-weight: normal;
    font-size: 26px;
    color: #909090;
}

.column2 p {
    max-width: 29rem;
    color: #909090;
    font-size: 15px;
    line-height: 36px;
}

.footer__border {
    border-top: 1px solid lightgray;
}

footer p {
    margin-top: 2.3rem;
    font-size: 15px;
    color: #909090;
    text-align: center;

}

@media screen and (max-width: 1150px){
    .banner__arrows {
        margin: 0 3rem;
    }
}

@media screen and (max-width: 768px){
    .wrap {
        margin: 0 3vw;
    }
    .logo img {
        margin: 0;
    }
    .menu__nav {
        display: none;
    }
    .menu_hamburger {
        display: block;
    }
    .banner {
        height: 335px;
    }
    .banner img {
        height: 80%;
    }
    .banner__description h1{
        font-size: 31px;
        font-weight: normal;

     }
    .banner__description p{
        font-size: 22px;

    }
    .btn {
        width: 234px;
    }
    .btn__text {
        font-size: 31px;
    }
    .btn__icon {
        height: auto;
    }
    .banner__arrows {
        display: none;
    }
    .wrap2 {
        flex-direction: column;
        margin: 0;
    }
    .advantage {
        flex-direction: row;
        border-bottom: 1px solid gray;
        justify-content: center;
    }
    .advantage img {
        height: 130px;
        padding: 30px;

    }
    .advantage_description {
        text-align: left;
    }
    .advantage_description h2 {
        font-size: 34px;
        margin: 0;
        line-height: 60px;
    }
    .advantage_description p {
        font-size: 19px;
        max-width: 380px;
    }
    .wrap3 {
        flex-direction: column;
        align-items: center;
        margin: 0 5vw 3vw;
    }
    .column2 {
        width: 90%;
        margin-left: 0;
    }
    .column2 p {
        max-width: 100%;
    }
}

@media screen and (max-width: 640px){
    .banner img {
        height: 40vw;
    }

    .banner__description {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 480px){
    .banner__description h2 {
        font-size: 26px;
        line-height: 44px;
    }
    .banner__description p {
        font-size: 18px;
    }
    .btn{
        width: 205px;
    }
    .btn__text {
        font-size: 26px;
    }
    .advantage_description h2{
        line-height: initial;
        font-size: 25px;
    }
    .advantage_description p{
        line-height: initial;
        font-size: 16px;
    }
    .column1 h1 {
        font-size: 35px;
    }
    .banner img {
        display: none;
    }
    .advantage img {
        height: 70px;
        padding: 20px;
    }

    .column1 img {
        width: 300px;
    }
}

@media screen and (max-width: 360px){
    .banner__description {
        text-align: center;
    }
    .banner__description h1{
        font-size: 22px;
    }
    .banner__description p {
        font-size: 16px;
        line-height: 30px;
    }
    .btn {
        margin: 42px auto 0;
    }
}
