* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  font-family: Raleway; }

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

header {
  background-image: url("../assets/img/background.png");
  height: 47rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%; }
  header .header_nav {
    height: 6.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header .header_nav .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header .header_nav .logo_txt {
        height: 1.6rem; }
      header .header_nav .logo_icon {
        background-image: url("../assets/icons/logo-icon.png");
        height: 1.9rem;
        width: 1.9rem;
        background-repeat: no-repeat;
        background-size: contain; }
    header .header_nav .nav_list {
      list-style: none; }
      header .header_nav .nav_list li {
        display: inline-block;
        padding-right: 2vw; }
        header .header_nav .nav_list li a {
          text-decoration: none;
          color: #ffffff;
          font-weight: bold;
          font-size: 15px;
          -webkit-transition: color .4s linear;
          transition: color .4s linear; }
          header .header_nav .nav_list li a:hover {
            color: #061e37; }
    header .header_nav .nav_btn {
      color: #ffffff;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 2px;
      cursor: pointer;
      width: 80px;
      padding: 6px;
      float: right;
      -webkit-transition: color  .4s linear;
      transition: color  .4s linear;
      font-family: inherit;
      font-weight: normal; }
      header .header_nav .nav_btn:hover {
        background-color: rgba(6, 30, 55, 0.84);
        border: none; }

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 170px auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .intro_item {
    max-width: 37rem;
    width: 100%; }
  .intro_title {
    color: white;
    font-size: 55px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 65px; }
  .intro_txt {
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 2.2rem; }
  .intro_btn {
    padding: 12px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    color: inherit;
    font-family: inherit;
    font-weight: normal;
    cursor: pointer;
    -webkit-box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75); }
  .intro_btn_buy {
    background-color: #061e37;
    color: #ffffff; }
    .intro_btn_buy:hover {
      background-color: #093863; }
  .intro_btn_try {
    background-color: #ffffff;
    color: #061e37;
    margin-left: 1vw; }
    .intro_btn_try:hover {
      background-color: #1de9b6;
      color: #ffffff; }
  .intro_video {
    background-image: url("../assets/img/photoeditorsdk-export.png");
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 38rem;
    width: 100%;
    -webkit-box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
    border: 0.5px solid black;
    border-radius: 7px; }

.section {
  padding: 80px 0; }

.section_header {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto 40px;
  text-align: center; }
  .section_header .section_title {
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
    color: #061e37; }
  .section_header .section_suptitle {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: normal;
    color: #b0bec5; }
  .section_header .section_txt {
    font-size: 15px;
    font-weight: normal;
    color: #b0bec5;
    line-height: 25px; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-bottom: 72px; }
  .about .about_item {
    width: 30%;
    max-width: 345px; }
  .about .about_icon {
    margin: 0 auto 45px;
    height: 70px; }
  .about .about_title {
    font-size: 20px;
    font-weight: bold;
    color: #061e37;
    margin-bottom: 20px; }
  .about .about_txt {
    font-size: 15px;
    font-weight: normal;
    color: #78909c;
    line-height: 20px; }

.section_btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section_btn1 {
  padding: 18px 24px;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  background-color: #1de9b6;
  -webkit-box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75); }

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .stat .stat_item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding: 50px;
    position: relative; }
  .stat .item__blue {
    background-color: #80d8ff; }
  .stat .item__darkBlue {
    background-color: #82b1ff; }
  .stat .item__purple {
    background-color: #b388ff; }
  .stat .item__pink {
    background-color: #ea80fc; }
  .stat .stat_item_icon {
    position: absolute;
    -webkit-transform: translate(-120px, -10px);
            transform: translate(-120px, -10px);
    z-index: 1; }
  .stat .stat_item_txt {
    font-size: 20px;
    color: #ffffff;
    line-height: 25px; }

.services {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 51.2rem; }

.accordion_item {
  padding: 20px;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 26px -5px rgba(184, 177, 184, 0.59);
          box-shadow: 2px 2px 26px -5px rgba(184, 177, 184, 0.59);
  margin-bottom: 10px;
  cursor: pointer; }
  .accordion_item .accordion_header {
    padding: 5px 20px 5px 60px;
    position: relative; }
  .accordion_item .accordion_header::after {
    content: "";
    background-image: url("../assets/icons/services/arrow.png");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .accordion_item .accordion_icon {
    position: absolute;
    top: 50%;
    left: 21px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .accordion_item .accordion_title {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; }
  .accordion_item .accordion_content {
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .accordion_item .accordion_img {
    padding-right: 15px; }
  .accordion_item .accordion_txt {
    font-size: 15px;
    color: #061e37;
    line-height: 25px;
    font-weight: normal; }

.review {
  background-image: url("../assets/img/background.png");
  height: 35.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 0 50px; }
  .review .review_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .review .review_item {
    width: 50%; }
  .review .item__arrows::before {
    content: "";
    display: block;
    background-image: url("../assets/icons/arrow.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    -webkit-transform: translate(165%, -140%);
            transform: translate(165%, -140%); }
  .review .item__arrows::after {
    content: "";
    display: block;
    background-image: url("../assets/icons/arrow.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    -webkit-transform: translate(165%, 140%) rotate(179deg);
            transform: translate(165%, 140%) rotate(179deg); }
  .review .review_title {
    margin-bottom: 30px;
    color: white;
    font-size: 45px;
    font-weight: 600; }
  .review .review_txt {
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 2.2rem; }
  .review .review_btn {
    padding: 12px 20px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
    background-color: #061e37;
    color: #ffffff; }
  .review .review_btn:hover {
    background-color: #093863; }
  .review .review_item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .review .review_item__content:first-child {
    margin-bottom: 30px; }
  .review .review_photo {
    margin-right: 20px; }
  .review .review_opinion {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 100%;
    max-width: 665px;
    padding: 30px 10px 30px 30px; }
  .review .review_opinion_name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #061e37; }
  .review .review_opinion_txt {
    font-size: 15px;
    font-weight: normal;
    color: #78909c;
    line-height: 25px; }

.team {
  margin: 60px 0 35px 0; }
  .team .team_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .team .team_member__active {
    margin: 0 30px 0 30px;
    border: 15px solid rgba(255, 255, 255, 0.17);
    border-radius: 50%;
    -webkit-box-shadow: 7px 9px 56px -28px rgba(0, 0, 0, 0.75);
            box-shadow: 7px 9px 56px -28px rgba(0, 0, 0, 0.75); }
  .team .team_info {
    width: 100%;
    max-width: 41rem;
    margin: 40px auto 40px;
    text-align: center; }
  .team .team_name {
    margin-bottom: 15px;
    font-size: 18px;
    color: #061e37;
    font-weight: bold;
    line-height: 25px; }
  .team .team_txt {
    font-size: 15px;
    color: #90a4ae;
    font-weight: normal;
    line-height: 25px; }
  .team .social {
    width: 100%;
    max-width: 41rem;
    margin: 40px auto 40px;
    text-align: center; }
  .team .social_item {
    color: #90a4ae;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    line-height: 1; }

.section_contacts {
  background-color: #fafafa;
  height: 41rem;
  padding: 60px; }
  .section_contacts .section_txt__dark {
    color: #061e37; }
  .section_contacts .form {
    width: 100%;
    max-width: 38rem;
    margin: 0 auto; }
    .section_contacts .form .style_border {
      border: 1px solid #061e37;
      border-radius: 5px;
      background-color: #fafafa; }
    .section_contacts .form .form_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 25px; }
      .section_contacts .form .form_block input {
        height: 50px;
        width: 48%;
        padding-left: 10px; }
    .section_contacts .form textarea {
      resize: none;
      width: 100%;
      padding: 10px;
      margin-bottom: 25px; }
  .section_contacts .form_submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 38rem;
    margin: 0 auto; }
  .section_contacts .form_btn {
    padding: 12px 30px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 7px 31px -15px rgba(0, 0, 0, 0.75);
    background-color: #1de9b6;
    color: #ffffff; }
  .section_contacts .form_btn:hover {
    background-color: #12e97d;
    border: none; }

.section_footer {
  background-color: #061e37;
  height: 19rem;
  padding: 60px; }

.footer_nav {
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer_nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer_nav .logo_txt {
      height: 1.6rem; }
    .footer_nav .logo_icon {
      background-image: url("../assets/icons/logo-icon.png");
      height: 1.9rem;
      width: 1.9rem;
      background-repeat: no-repeat;
      background-size: contain; }
  .footer_nav .nav_list {
    list-style: none; }
    .footer_nav .nav_list li {
      display: inline-block;
      padding-right: 2vw; }
      .footer_nav .nav_list li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
        -webkit-transition: color .4s linear;
        transition: color .4s linear; }
        .footer_nav .nav_list li a:hover {
          color: #1de9b6; }

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 22px 0 -20px; }
  .footer_content .footer_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer_content .footer_item_txt {
    color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
    padding-left: 25px;
    position: relative; }
  .footer_content .footer_item_txt:not(.without):after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 6px;
    right: -14px;
    z-index: 1000; }
  .footer_content .footer_social_item {
    color: #90a4ae;
    text-decoration: none;
    font-size: 15px;
    padding: 12px;
    line-height: 1; }

/*# sourceMappingURL=style.css.map */